<tr id="<%= dom_id(expense) %>" class="<%= row_class %> hover:bg-hamzis-white/40 dark:hover:bg-hamzis-black/40 transition">
  <td class="px-4 py-3"><%= expense.date.strftime("%b %d, %Y") %></td>
  <% if show_project %>
    <td class="px-4 py-3">
      <%= link_to expense.project.name,
                  project_path(expense.project),
                  class: "text-hamzis-copper hover:underline" %>
    </td>
  <% end %>
  <td class="px-4 py-3"><%= expense.description %></td>
  <td class="px-4 py-3 font-semibold"><%= number_to_currency(expense.amount, unit: "₦") %></td>
  <td class="px-4 py-3"><%= expense.reference.presence || "-" %></td>
  <td class="px-4 py-3 flex gap-2">
    <%= link_to "View", project_project_expense_path(expense.project, expense),
        class: "px-3 py-1 rounded bg-hamzis-copper text-white hover:bg-hamzis-black transition text-xs" %>
    <%= link_to "Edit", edit_project_project_expense_path(expense.project, expense),
        class: "px-3 py-1 rounded bg-hamzis-brown text-white hover:bg-hamzis-copper transition text-xs" %>
  </td>
</tr>
