<%= turbo_stream.replace dom_id(@report) do %>
  <% collection = @project.present? ? @project.reports.order(:created_at) : @report.project.reports.order(:created_at) %>
  <% index = collection.pluck(:id).index(@report.id) || 0 %>
  <%= render "reports/report_row",
             report: @report,
             show_project: !@project,
             row_class: index.even? ? "bg-hamzis-brown/5 dark:bg-hamzis-copper/5" : "" %>
<% end %>
<%= turbo_stream.replace "flash" do %>
  <%= render "shared/flash" %>
<% end %>
<%= turbo_stream.replace "report_status" do %>
  <p>
    <span class="font-medium">Status:</span>
    <%= @report.status.humanize %>
  </p>
<% end %>
